body {
    font-family:"Avenir","Helvetica","Arial","sans-serif";
    color: #000;
    background-color: #fff;
    padding: 0;
    margin: 0;
    margin-top: 80px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    }

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    padding: 0;
    margin: 0;
}

label{
  display: inline-block;
}

hr{
  border: 0.5px solid #a9a9a9;
  margin: auto;
  opacity: unset;
}

*{
  border-spacing: border-box;
  box-sizing: border-box; /*ボーダーとpaddingを高さと幅に含める処理。これがないとflexで変な位置で折り返されてしまう*/
}

/*--------------------------------------
  main veiw
--------------------------------------*/

.main_veiw{
    position: relative;
}
.main_image{
	position: relative;
	overflow: hidden;
}

.main_veiw_image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.main_view_font{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.main_view_font p{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1rem
}

/*--------------------------------------
  topics
--------------------------------------*/

.topics{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.topics_main_image{
    height: 50px;
    display: inline-block;
    position: relative;
}

.topics hr{
    width: 10%;
    margin-top: 2%;
}

/*--------------------------------------
  topics card
--------------------------------------*/

.topics_card_all{
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
  margin-bottom: 100px;
}

.topics_card{
  border: solid 1px rgba(0,0,0,0.125);
  max-width: 31.3%;
  margin: 1%;
  display: flex; /*コンテナ同士の隙間を埋める処理*/
  flex-direction: column; /*display: flex;とセットにしないと縦並びにならない*/;
  border-radius: 1%;
}

.topics_card_img{
  width: 100%; /*画像を枠に収める処理*/
}

.topics_card_body{
  flex: 1 1 auto;
  padding: 20px;
}

.topics_card_body h4{
  margin: 0 0 6px 0;
}

.topics_card_body h6{
  margin: auto;
}

.topics_card_footer{
  border-radius: 0.5%;
  padding: 12px 20px;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125); 
}

.topics_card_footer_button{
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 5%;
  display: inline-block; /*ここから下はなくても問題なし*/
  text-align: center;
  vertical-align: middle;
}

/*--------------------------------------
  infomation
--------------------------------------*/

.infomation_main{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.infomation_main_image{
  height: 50px;
}

.infomation_main hr{
  width: 10%;
  margin-top: 2%;
}

.infomation_list_table{
  margin: auto;
  margin-bottom: 100px;
}

table,tr,td{
  border: 1px solid #a9a9a9;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
}

.table_width01{
  width: 50px;
  padding: 20px;
  color: tan;
}

.table_width02{
  width: 500px;
  padding: 20px;
}

.table_width02_text{
text-decoration: none;
color: #000;
}

.table_width01 a{
  font-weight: bold;
}

.table_width02 a:hover{
  color: #007bff;
  text-decoration: underline;
}

/*--------------------------------------
  infomation　sub page
--------------------------------------*/

.info_sub{
  background-color: #fffacd;
  padding: 20px 5%;
  margin-bottom: 40px;
}

.info_sub h3{
  margin-top: 10px;
}

.info{
  padding: 0 5%;
}

.info_body{
  margin: 0 15px;
}

.info_bottom a{
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-decoration:none;
  margin: 30px 15px;
  padding: 10px;
  display: inline-block;
}

/*--------------------------------------
  global navigation
--------------------------------------*/

.gn_main{
  height: 80px;
  display: flex;
  padding: 0 5%;
  background-color:#fff;
}

.gn_menu{
  margin: auto;
  width: 100%;
  display: flex;
}

.gn_menu_dropdown,.navbar_menu{
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  cursor : pointer;
  box-shadow: none!important;
}

.gn_menu a:hover,.gn_menu_dropdown:hover{
  color: #212529;
}

.brand_logo{
  width: 56px;
  height: 58px;
}

.brand_logo_link{
  margin-right: 16px;
  padding: 5px 0;
}

.follow_us{
  max-height: 15px;
  margin: auto 10px;
}

.insta_icon{
  max-width: 3rem;
}

.insta_size{
  font-size:3rem;
  color: #a9a9a9;
}

.icon_link{
  margin: auto;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000; /*重なり順を指定する。数値が大きいほど上に表示。positionで相対配置、絶対配置を指定した場合に有効。Zは奥行きの意味*/
}

.nav-item_li{
  margin: auto;
}

.gn_menu_sns{
  display: flex;
  justify-content: center;
  text-align: center;
}

#instagram{
  display: none;
}

/*--------------------------------------
  footer
--------------------------------------*/

.footer{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  font-size: 0.5rem;
  color: #fff;
}

.privacy_policy_link{
  height: 50%;
  padding-top: 25px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.copy_write{
  height: 50%;
  padding-top: 5px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}

.privacy_policy_link a{
  color: #fff;
  text-decoration:none;
}

.to-top_icon{
  width: 5%;
  right: 5%;
  bottom: 1%;
  position: fixed; /*最下部に固定する*/
  z-index: 900;
  min-width: 50px;
}
/*--------------------------------------
  privacy policy
--------------------------------------*/

.privacy_policy{
  background-color: #fffacd;
  padding: 20px 5%;
  margin-bottom: 40px;
}

.privacy_policy p{
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

.privacy_policy_main{
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 5%;
}

.privacy_policy_main hr{
  margin: 2% 0;
}

.privacy_policy_item{
  padding: 0 5% 40px;
}

.privacy_policy_ul{
  padding: 0 0 0 16px;
  margin: 0 0 16px 0;
}

.privacy_policy_ul ul{
  margin: auto;
  padding: 0;
}

/*--------------------------------------
  menu
--------------------------------------*/

.menu_main_image img,.access_main_image img,.contact_main_image img{
  width: 100%;
  height: 197px;
  object-fit: cover;
  vertical-align: bottom; /*画像下の余白を消す*/
}

.menu_main_font h3{
  color: #696969;
  margin: 0%;
}

.menu_main_font{
  padding: 20px 5%;
  color: #696969;
  background-color: #dcdcdc;
}

.h6{
  font-size: 1rem;
}

/*--------------------------------------
  menu card
--------------------------------------*/

.drink_cord_all,.food_cord_all{
  margin: 30px 0;
  padding: 0 0 40px 5%;
  display: flex;
  flex-wrap: wrap;
}

.drink_card,.food_card{
  width: 20%;
  margin: 20px 5% 20px 0;
  text-align: center;
  font-size: .8rem;
  color: #696969;
}

.drink_card_contents,.food_card_contents{
  position: relative;
}

.drink_card_image,.food_card_image{
  width: 100%;
  vertical-align: bottom;
}

.drink_card_image_temp{
  width: 100%;
  padding: 2% 3%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.drink_card_image_temp_hot{
  padding: 2% 3%;
  border-radius: 5px;
  margin-top: 0;
  margin-right: 2%;
  background-color: red;
  opacity: .5;
}

.drink_card_image_temp_cold{
  padding: 2% 3%;
  border-radius: 5px;
  margin-top: 0;
  margin-left: 2%;
  background-color: #00f;
  opacity: .5;
}

.drink_card_image_temp p,.food_card_image_temp p{
  font-size: .75rem;
  font-weight: 700;
  color: #fff;
}

.drink_card_menu_name,.food_card_menu_name{
  margin: 10px 0;
  font-weight: 700;
}

.drink_card_menu_variations,.food_card_menu_variations{
  padding: 0 10%;
  display: flex;
}

.food_card_menu_variations{
  justify-content: center;
}

.drink_card_menu_variations_size{
  text-align: left;
  width: 50%;
}

.drink_card_menu_variations_price,.drink_card_menu_variations_price{
  text-align: right;
  width: 50%;
}

.drink_card_menu_variations_tax,.drink_card_menu_variations_tax{
  font-size: .5rem;
}

/*--------------------------------------
  access
--------------------------------------*/

.anchor {
  padding-top: 80px;
  margin-top: -80px;
}

.branch_office{
  display: flex;
  justify-content: center;
  padding: 50px 5%;
}

.branch_office_store{
  color: #696969;
}

.access_main_store_header{
  padding: 20px 5%;
  background-color: #dcdcdc;
}

.access_main_store_header h3{
  color: #696969;
  margin: 0%;
}

.access_main_content_body{
  margin: 30px 0;
  padding: 0 0 40px 5%;
  display: flex;
}

.access_main_content_body_info{
  width: 50%;
}

.access_main_content_body_info hr{
  border: .3px solid #dcdcdc;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.access_main_content_body_info_row{
  display: flex;
}

.access_main_content_body_info_row_label{
  width: 20%;
}

.access_main_content_body_info_row_address{
  width: 80%;
  color: #696969;
}

.access_main_content_body_map{
  width: 50%;
  padding: 0 5%;
  text-align: center;
}

.access_main_content_body_map iframe{
  width: 100%;
  height: 400px;
}

/*--------------------------------------
  access
--------------------------------------*/

.contact_main_body{
  padding: 0 5% 40px;
  margin: 30px 0;
}

.contact_main_body_title{
  padding: 30px 0;
}

.contact_form_row_group,.contact_form_row_group_radio,.contact_form_row_group_postnum{
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 16px;
}

.form_lastname_input_row{
  width: 30%;
  margin-right: 2%;
}

.form_name_input_errormsg{
  color: #17a2b8!important;
  display: block;
  margin-top: 0.25rem;
}

.form_lastname_input_row{
  width: 30%;
  margin-right: 2%;
}

.form_mail_input_row{
  width: 62%;
  height: 70%;
}

.form_input{
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form_label_badge{
  width: 20%;
}

.badge{
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
}

/*--------------------------------------
.badge{
  font-size: 0.5rem;
  color: red;
}
--------------------------------------*/

.radio_button_group_man{
  width: 10%;
  padding-left: 2%;
}

.radio_button_group_woman{
  width: 10%;
  padding-left: 1%;
}

.radio_button{
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

.radio_button_labe{
  margin-bottom: 0;
}

.group_label{
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.radio_button_group_age{
  width: 8%;
  padding-left: 2%;
}

.mute_badge{
  font-size: .75rem;
  color: #6c757d!important;
}

.form_label_badge_tell,.form_label_badge_postnum,.form_label_badge_town,.form_label_badge_city,.form_label_badge_house{
  width: 20%;
}

.tell_form_label,.postnum_form_label,.town_form_label,.town_form_label,.city_form_label{
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.form_tell_input_row{
  width: 15%;
}

.form_postnum_input_row{
  width: 10%;
}

.contact_form_town_address{
  padding-left: 1%;
  display: flex;
  align-items: center;
}

.contact_form_town_address .btn{
  font-size: .7rem;
}

.address_btn{
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-weight: 700;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.form_town_select_row{
  width: 25%;
}

.form_category_select_row{
  width: 27.5%;
}

.form_town_select,.form_category_select,.form_input_textarea{
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form_city_input_row,.form_house_input_row,.form_contact_text_input_row{
  width: 62%;
}

textarea.form_input_textarea{
  height: calc(1.5em * 8);
}

.contact_caution{
  padding: 50px 0;
}

.contact_caution_row{
  list-style: none;
  margin:0 0 16px 0;
}

.contact_caution ul{
  padding-left: 0;
}

.contact_form_submit{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact_form_submit_buttom{
  color: #fff;
  background-color:#007bff;
  border-color: #007bff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
}

/*--------------------------------------
  access
--------------------------------------*/
.boxshadow_off{
  box-shadow: none;
}

/*--------------------------------------
  confirmation
--------------------------------------*/

.confirmation_contents_row{
  display: flex;
  box-sizing: border-box;
}

.confirmation_contents_row_col_lavel{
  width: 20%;
  padding: 20px 1%;
  border-top: 1px solid #a9a9a9;
  color: #696969;
}

.confirmation_contents_row_col_value{
  width: 80%;
  padding: 20px 1%;
  border-top: 1px solid #a9a9a9;
}

.confirmation_result{
  width: 100%;
  margin-bottom: 50px;
}

.confirmation_submit{
  display: flex;
}

.confirmation_submit_left{
  width: 33.3%;
  text-align: left;
  font-size: .75rem;
}

.confirmation_submit_left a{
  color: #696969;
  text-decoration: none;
}

.confirmation_submit_center{
  width: 33.3%;
  text-align: center;
}

.confirmation_submit_right{
  width: 33.3%;
}

/*--------------------------------------
  completion
--------------------------------------*/

.completion_result,.completion_submit_center{
  text-align: center;
}

.completion_result{
  margin: 100px 0;
}

.completion_submit_center{
  margin-bottom: 100px;
}

.breadcrumb-item_link{
  color: #696969;
}

.breadcrumb-item a{
  text-decoration: none;
}

.breadcrumb_nav_breadcrumb_ol{
   padding: .75rem 1rem;
  padding-left: 5%;
  font-size: 0.75rem;
}

.breadcrumb{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;
}