/*--------------------------------------
  navber burger
--------------------------------------*/
.gn_menu{
  background-color: #000;
  display: block;
}

.navbar_menu{
  margin: 10px 7%;
}

.navbar_text{
  color: #fff!important;
}

.brand_logo{
  justify-content: left;
}

.gn_menu_sns{
  display: none;
}

#instagram{
  display: block;
}

.navbar-light,.navbar-toggler{
  border-color: #ffefd5!important;
}

/*--------------------------------------
  main view
--------------------------------------*/

.main_veiw_image{
  height: 300px;
}

.main_view_font p{
  font-size: 1.25rem;
}

.header_image img{
  height: 110px;
}

/*--------------------------------------
  topics card
--------------------------------------*/

.topics_card{
  max-width: 98%;
  margin: 3% 1%;
}

/*--------------------------------------
  infomation
--------------------------------------*/

.infomation_main_image{
  height: 30px;
}

.info_bottom a{
  font-size: 0.7rem;
}

/*--------------------------------------
  menu
--------------------------------------*/
.drink_cord_all,.food_cord_all{
  flex-direction: column;
  padding: 0 10% 40px;
}
.drink_card,.food_card{
  width: 100%;
  font-size: 1rem;
}

.drink_card_menu_variations,.food_card_menu_variations{
  padding: 0 25%;
}

.menu_main_font{
  padding: 20px 10%;
  text-align: center;
}

/*--------------------------------------
  access
--------------------------------------*/

.access_main_image img{
  object-position: 100% 50%;
}

.branch_office{
  flex-direction: column;
  text-align: center;
}

.branch_office_store{
  margin: 15px 0;
}

.branch_office p{
  display: none;
}

.access_main_store_header{
  padding: 20px 10%;
  text-align: center;
}

.access_main_content_body{
  flex-direction: column;
  padding: 0 10% 40px;
}

.access_main_content_body_info{
  width: 100%;
}

.access_main_content_body_map{
  width: 100%;
  padding: 0%;
}

.access_main_content_body_info_row{
  flex-direction: column;
}

/*--------------------------------------
  contact
--------------------------------------*/

.contact_main_image img{
  object-position: 0;
}

.contact_main_body{
  padding: 0 10% 40px;
}

.contact_form_row_group{
  display: flex;
  flex-direction: column;
}

.form_label_badge,.form_lastname_input_row,.form_mail_input_row,.form_town_select_row,.form_house_input_row,.form_city_input_row,.form_contact_text_input_row{
  width: 100%;
}

.radio_button_group_man{
  width: 30%;
  padding-left: 5%;
}

.radio_button_group_woman,.form_postnum_input_row{
  width: 30%;
}

.radio_button_group_age{
  width: 25%;
  padding-left: 5%;
}

.form_tell_input_row{
  width: 50%;
}

.contact_form_row_group_postnum{
  display: flex;
}

.confirmation_contents_row{
  flex-direction: column;
}

.confirmation_contents_row_col_lavel{
  width: 100%;
  padding: 20px 0 5px;
  border-top: 1px solid #a9a9a9;
  font-size: .75rem;
}

.confirmation_contents_row_col_value{
  width: 100%;
  padding: 5px 0 20px;
  border-top: none;
}